<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
    <style>
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
</style>
</head>

<body>

  <!--Start form section for list input-->
  <div id="wrapper">

    <h1>STUFF I GOTTA DO</h1>
<form id="form" action='/todo' method='post'>
  <input id="input_field" placeholder="Things to Do" name="task" type="text" />
  <button>Add to List</button>
</form>

<!--Results section based on input value-->
<div id="container">
  <ul>
    {{#data}}
        <li><button class="complete" action="/complete" type="button" name="complete">Mark Complete</button> {{task}} </li>
        {{/data}}
      </ul>
    </div>

<!--Page break and completed section-->

<div class="completed_items">
  <h1>Completed</h2>
    <ul id="done">
      {{#complete}}
      <li>{{text}}</li>
      {{/complete}}
    </ul>
  </div>

    </div>
  </body>
</html>
